@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-flow: column wrap;
  justify-content: space-between;
  display: flex;
}

.header, .footer{
  flex-flow: row;
  flex: 0 1 0%;
  display: flex;
  justify-content: space-between;
}

a {
  color:black;
  text-decoration: none;
}

.left-links, .right-links,
.footer.left,.footer.right {
  display: flex;
  list-style: none;
  gap: 5px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}


.footer a, 
.footer a{
  color:#8d8c8c;
  text-decoration: none;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
  flex: 0 1 0%;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #ddd;
  flex: 1;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  flex: 1;
}

.footer {
  background-color:#eee;
}
