@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

}

.header, .footer{
  flex-flow: row;
  flex: 1;
  display: flex;
}

.left-links, .right-links,
.footer.left,.footer.right {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 5px;
  padding: 5px;
  align-items: center;
}
.left-links, .footer.left{
  margin-right: auto;
}

.right-links, .footer.right{
  align-self: flex-end;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

img {
  width: 600px;
  flex: 1 1 0%;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  flex: 1;
}
